<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Create a new recipe</h1>

    <form action="/recipes" method="post">
      <p>Recipe Name</p><input type="text" name="name">
      <p>Recipe Ingredients</p><input type="text" name="ingredients">
      <p>Recipe Cook Time</p><input type="text" name="cook_time">
      <input type="submit" id="submit" value="submit">
    </form>
  </body>
</html>
